.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-width-button {
  width: 300px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-column-center {
  display: flex;
  justify-content: center;
}

Button {
  border-radius: 300px !important;
}

a {
  text-decoration: none;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-preview {
  margin: 25px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

Button.practiceNav {
  border-radius: 0px !important;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

Button.practiceNav-wide {
  border-radius: 0px !important;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 397px;
  border-radius: 0 0 20px 20px !important;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-row-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px !important;
}

Button.left-top {
  border-top-left-radius: 20px !important;
}

Button.right-top {
  border-top-right-radius: 20px !important;
}

/* MobileStepper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
} */

MobileStepper.progress-bar {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 20px;
}

.MuiLinearProgress-root {
  width: 500px !important;
}
